{% extends "base.html" %}
{% block extrahead %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pawangeek.github.io/indiapins/">
  <meta property="og:title" content="Indiapins Documentation">
  <meta property="og:description" content="Python package for validating Indian pincodes and fetching location details, districts, and coordinates.">
  <meta property="og:locale" content="en_US">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://pawangeek.github.io/indiapins/">
  <meta property="twitter:title" content="Indiapins Documentation">
  <meta property="twitter:description" content="Python package for validating Indian pincodes and fetching location details, districts, and coordinates.">
{% endblock %}
